* {
    box-sizing: border-box;
}

.grid {
    width: 50%;
    transition: width 1s linear;
}

.grid--large {
    width: 100%;
}

.grid__row {
    width: 100%;
    margin-top: 3px;
}

.grid__row:first-child {
    margin-top: 0;
}

.grid__row:before,
.grid__row:after {
    content: " ";
    display: table;
}

.grid__row:after {
    clear: both;
}

.grid__cell {
    float: left;
    width: calc(10% - 3px);
    margin-left: 3px;
    padding: 5px;
    background: #3f547f;
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
}

.grid__cell:first-child {
    margin-left: 0;
}
