body {
    margin: 0;
    padding: 20px;
    background-color: #ebebeb;
    font-family: 'Arial';
    font-size: 16px;
    color: #333333;
}

a {
    color: #333333;
}
a:hover,
a:visited,
a:active {
    color: #3f547f;
}

.section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

.section h1 {
    margin: 0;
}

.navigation ul {
    margin: 0;
}

.row {
    margin-top: 20px;
}

.row:first-child {
    margin-top: 0;
}

.number-input-label {
    margin-right: 15px;
}
.number-input {
    vertical-align: top;
    width: 40px;
    line-height: 34px;
    margin-left: 10px;
    font-size: 1rem;
}

.button {
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background: #eceef2;
    border: 1px solid #eceef2;
    color: #3f547f;
    font-size: 1rem;
    border-radius: 3px;
    box-shadow: none;
    font-family: 'Arial';
    transition: all 250ms ease-in-out;
}
.button:hover {
    background: #d9dde5;
    border-color: #d9dde5;
    color: #3f547f;
    cursor: pointer;
}
.button:focus {
    outline: none;
}
.button.active {
    background: #3f547f;
    border-color: #3f547f;
    color: #ffffff;
}

.checkbox {
    position: relative;
    top: -2px;
    margin-right: 10px;
}

.controls .checkbox-label {
    margin-right: 15px;
}

.playground {
    position: relative;
    height: 800px;
    border: 1px solid #ddd;
}

.block {
    position: absolute;
    border-radius: 8px;
    background: #e35325;
}
.block:before {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background: url('img/zemanta-logo-white.svg') no-repeat center center;
}
.block.layers-enabled {
    will-change: transform;
}
.block.heavy-paint {
    box-shadow: 5px 10px 35px 3px rgba(155, 155, 155, 0.85);
    opacity: 0.7;
    background: linear-gradient(0deg, #e35325, #ff865e);
    filter: blur(0.5px);
}

.loading-box {
    width: 300px;
    height: 20px;
    text-align: left;
    border: 3px solid #3f547f;
}

.loading-bar {
    width: 0px;
    height: 100%;
    background-color: #3f547f;
}

