<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Layout</title>
        <link href="../shared/style.css" rel="stylesheet">
        <link href="layout.css" rel="stylesheet">
    </head>
<body>
    <div class="controls section" id="controls">
        <div class="row">
            <label class="number-input-label">Rows:<input type="text" id="numberOfRows" class="number-input"/></label>
            <button data-action="generate" class="button">Generate</button>
            <button data-action="expand" class="button">Expand</button>
            <button data-action="collapse" class="button">Collapse</button>
        </div>
    </div>

    <div class="section">
        <div id="grid" class="grid"></div>
    </div>

    <script src="layout.js"></script>
</body>
</html>
